{{#each ideas}}
  <div class="card card-body mb-3">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a class="btn btn-outline-warning mb-1" href="/ideas/edit/{{id}}">Edit</a>
    <form action="/ideas/delete/{{id}}?_method=DELETE" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-outline-danger mb-1 btn-block" value="Delete">
    </form>
  </div>
{{else}}
  <h1 class="display-3 text-danger">No Ideas Found, Please be creative!</h1>
{{/each}}